.image-container{
    margin-top: 1.5rem !important;
}
.imageWrapper{
    box-shadow:1px 0px 7px 2px rgba(0,0,0,0.4) !important;
    margin:0.7rem !important;
    transition:0.3s ease-out;
    width: 31%;
    height: 40vh;
    padding: 0.5px !important;
}
#Image{
    height: 100%;
    width: 100%;
}
.imageWrapper:hover{
    cursor: pointer;
    transform:scale(1.01);
}

